version: "3.9"

services:
  db:
    image: postgres:17-alpine
    container_name: dev-chessbattle-db
    env_file:
      - ./backend/.env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./backend/db/init:/docker-entrypoint-initdb.d:ro

  backend:
    build: ./backend
    container_name: dev-chessbattle-backend
    env_file: ./backend/.env
    ports:
      - "4000:4000"
    depends_on:
      - db

volumes:
  db_data:
