/* base */
:root {
  --page-max-width: 1200px;
  --page-padding: 1.5rem;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Anek Latin", system-ui, sans-serif;
  background: #312e2b;
  color: #fff;
}

/* layout */
.container {
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
}
